{{!< default}}

    <header>
        <div class="encart-meublage"><p>site temporaire</p></div>
        <div class="hero-archive-container">
            <div class="hero-archive">
                
                <h1 class="h1-home-hero">👋 Hey c’est Guilhem. <br>Front-end creator à Montpellier.</h1>
                <img class="img-home" src="assets/images/IMG_4319-Modifier.jpg">    

            </div>
        </div>
        
        <div class="div-logos-clients">
            <img class="logos-client" src="assets/images/apicourtage_blanc copie.svg">
            <img class="logos-client" src="assets/images/sandrine_guilleray copie.svg">
            <img class="logos-client" src="assets/images/verbateam_avocats copie.svg">
            <img class="logos-client" src="assets/images/contralco_blanc copie.svg">
        </div>

        <div class="div-catch-phrase">
            <h2 class="catch-phrase">Je conçois, design et développe des interfaces web modernes basées sur la psychologie de vos utilisateurs.</h2>
        </div>

        <div class="section-study-case">
            <h2 class="h2-projets">Quelques projets</h2>
            <div class="div-study-case">
                <img class="img-study-case" src="assets/images/lesideesdagathe.png">
                <div class="text-study-case">
                    <h3 class="h3-study-case">Les idées d’Agathe</h3>
                    <a target="_blank" href="https://lesideesdagathe.com"><button class="button-study-case">Découvrez le projet</button></a>
                </div>
                
            </div>
            <div class="div-study-case">
                
                <div class="text-study-case">
                    <h3 class="h3-study-case">Un Contrat Avec Toit</h3>
                    <button class="button-study-case">Bientôt disponible</button>
                </div>
                <img class="img-study-case" src="assets/images/ucat.png">
                
            </div>

        </div>

    </header>

    <main class="index-layout">
        <h2>Quelques articles</h2>


        <div class="article-layout">
            {{#foreach posts}}

                {{> "post-card"}}
            
            {{/foreach}}
        </div>

        
    </main>
            