{{!< default}}

    <header>
        <div class="encart-meublage"><p>site temporaire</p></div>
        <div class="hero-archive-container">
            <div class="hero-archive">
                
                <h1 class="h1-home-hero">👋 Hey c’est Guilhem. <br>Front-end creator à Montpellier.</h1>
                <img class="img-home" src="assets/images/IMG_4319-Modifier.jpg">    

            </div>
        </div>
        

    </header>

    <main class="index-layout">


        <div class="article-layout">
            {{#foreach posts}}

                {{> "post-card"}}
            
            {{/foreach}}
        </div>

        
    </main>
            
