{{!< default}}

    <header class="hero-archive-section">
        <div class="hero-container">
                    <div class="text-hero-archive">
                    <h1>👋 <br />Hey c’est Guilhem.</h1>
                    <p>Je partage ici mes dernières idées et partage mes apprentissages sous la forme d’articles et de vidéos.</p>
                    <div>
                        <a><button>Pour me lire</button></a>
                    </div>
                
                </div>

                <div class="hero-index-img" style="background-image: url('assets/images/IMG_4319-Modifier.jpg')">    
                </div>
                


        </div>

    </header>

    <main class="index-layout">
        <div class="index-title">
            <h2>Mes articles et vidéos</h2>
            <p>Voici mes articles, je partage mes derniers apprentissages pratiques concernant l’éducation, la philosophie stoïcienne, la psychologie de la prise de décision et la productivité.</p>
        </div>
        

        <div class="article-layout">
            {{#get "tags"}}
                {{#foreach tags}}
                    <div style="background-image: url('{{feature_image}}');" class="img-tag">
                        <div>
                            <a href="{{url}}"><h3>{{name}}</h3></a>
                            <p>{{description}}</p>
                        </div>

                    </div>
                    
                {{/foreach}}
            {{/get}}
        </div>

        
    </main>