/* 1.0 CSS GLOBAL */

:root {
  --font-family-sans: 'Open Sans', sans-serif;
  --font-family-serif: 'Source Serif Pro', Serif;
  overflow-x: hidden;
  /* 1.1 Couleurs du thème */
  --noir-profond: #151515;
  --noir-grisé: #505050;
  --blanc-cassé: #FCFCFC;
  --violet: #8855FC;
  --white-background: white;
  --gris-clair: #848484;
  --black-contrast-darkmode: #202020;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: var(--font-family-sans, --font-family-serif);
  font-size: 1em;
  color: var(--noir-grisé);
  position: relative;
  background-color: var(--blanc-cassé);
}


main {
  width: 100vw;
}

.site-logo {
  height: 30px;
}

/* 1.1 CSS Global fonts */

a {
  color: var(--violet);
  text-decoration: none;
}

a:hover {
  opacity: 50%;
}

p {
  font-family: var(--font-family-sans);
  line-height: 2;
  margin: 0 0 1rem 0;
}

ul {
  margin: 0 0 1rem 0;
}

li {
  margin-bottom: 1.2em;
  line-height: 2;
}

h1,
h2,
h3 {
  font-family: var(--font-family-serif);
  margin-top: 0;
  margin: 1rem 0 1rem 0;
  line-height: 1.3;
  font-weight: 700;
  text-align: left;
  color: var(--noir-profond)
}

h1 {
  font-size: 3rem;
}

@media (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2.7rem;
}

@media (max-width: 500px) {
  h2 {
    font-size: 1,4rem;
  }

}

h3 {
  margin: 0.5em, 0, 0.5em, 0;
  font-size: 1.3rem;
}

@media (max-width: 500px) {
  h3 {
    font-size: 0,875rem;
  }
}

/* 1.2 Boutons globaux */

button {
  background-color: var(--noir-profond);
  font-family: var(--font-family-serif);
  color: var(--blanc-cassé);
  padding: 1.2em;
  border-width: 0px;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
}

/* 2. Post CSS */

.post-layout {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post_hero_section {
  width: 85%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  margin: 0px;
  box-shadow: 10px 10px 20px 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.h1-post {
  color: var(--blanc-cassé);
  text-align: center;
  width: 70%;
}

@media (max-width: 500px) {
  .post_hero_section {
    height: 100vh;
  }
}

.section_post_content {
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3));
}

.post_content {
  width: 50%; 
}

@media (max-width: 1024px) {
  .post_content {
    width: 65%
  }
}

@media (max-width: 800px) {
  .post_content {
    width: 90%;
  }
}

.post_tag_container {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: var(--noir-grisé);
}

@media (max-width: 500px) {
  .post_tag_container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
  }
    
}

.post_tag_container p {
  margin: 0 0 0 0;
}

.author-post-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.author-profile-img {
  width: auto;
  height: 40px;
  border-radius: 100%;
  margin-right: 2rem;
}


/* 2.2 CSS des éléments visuels de l'éditeur */

.kg-width-wide {
  position: relative;
  width: 85vw;
  min-width: 100%;
  margin: 5em calc(50% - 50vw);
  transform: translateX(calc(50vw - 50%));
}



.kg-width-full {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin: 5em -50vw;
}

.kg-image {
  width: 100%;
}

@media (max-width: 1024px) {
  .kg-width-wide {
    width: 100vw;
    margin: 3em calc(50% - 50vw);
  }

  .kg-width-full {
    width: 100vw;
    margin: 3em -50vw;
  }
}

.kg-gallery-container {
  display: flex;
  flex-direction: column;
  margin: 5em auto;
  max-width: 1040px;
  width: 100vw;
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 800px) {
  
  .kg-gallery-container {
    margin: 3em auto;
  }

}

@media (max-width: 500px) {
    .kg-gallery-row {
      flex-direction: column;
    }
  }

.kg-gallery-image img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}



.kg-gallery-row:not(:first-of-type) {
  margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
  margin: 0 0 0 0.75em;
}

@media (max-width: 500px) {
  .kg-gallery-image img {
    margin: 1em 0 1em 0;
  }

  .kg-gallery-row:not(:first-of-type) {
    margin: 0;
  }
  
  .kg-gallery-image:not(:first-of-type) {
    margin: 0;
  }

}

.kg-bookmark-card {
  width: 100%;
  position: relative;
}

@media (max-width: 500px) {
  .kg-bookmark-card {
    width: 80%
  }
}

.kg-bookmark-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  color: currentColor;
  font-family: inherit;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.kg-bookmark-container:hover {
  text-decoration: none;
}

.kg-bookmark-content {
  flex-basis: 0;
  flex-grow: 999;
  padding: 20px;
  order: 1;
}

.kg-bookmark-title {
  font-weight: 600;
}

.kg-bookmark-metadata,
.kg-bookmark-description {
  margin-top: .5em;
}

.kg-bookmark-metadata {
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kg-bookmark-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.kg-bookmark-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
  margin-right: .5em;
  margin-bottom: .05em;
}

.kg-bookmark-thumbnail {
  display: flex;
  flex-basis: 24rem;
  flex-grow: 1;
}

.kg-bookmark-thumbnail img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}

.kg-bookmark-author {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.kg-bookmark-publisher::before {
  content: "•";
  margin: 0 .5em;
}

blockquote {
  font-size: 2rem;
  font-family: var(--font-family-serif);
  font-style: italic;
  font-weight: bold;
  color: var(--noir-grisé);
  line-height: 1.5;
  border-left-style: solid;
  border: 0 0 0 3px;
  border-color: var(--noir-grisé);
  padding-left: 2rem;
  margin: 4rem auto;
}


/* 3 Navigation */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 13vh;
  fill: var(--violet);
}

.nav-left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
}

.nav-right-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}

.nav-logo-link {
  width: auto;
  height: 50px;
}

.nav-item {
  font-family: var(--font-family-serif);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 0;
  margin: 0px;
}

.nav-item a {
  color: var(--noir-profond);
}

.nav-center-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toggle-dark-mode {
  position: relative;
  width: 35px;
  height: 21px;
  border-radius: 50px;
  background-color: var(--blanc-cassé);
  border: 0.5px solid var(--gris-clair);
}

.icon-dark-mode-container {
  position: absolute;
  width: 37px;
  height: 37px;
  left: -50%;
  top: -40%;
  border-style: solid;
  border-width: 0.7px;
  background-color: var(--blanc-cassé);
  border-radius: 100%;
  border-color: var(--gris-clair);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#_002-sun {
  width: 70%;
  height: auto;
}

.cls-1 {
  isolation:isolate;
}

.cls-2 {
  fill: var(--noir-profond);
}

/* 4 Archive-home */

/* 4.1 Archive hero */

.hero-archive-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-archive {
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.h1-home-hero {
  padding: 1em;
}

.img-home {
  width: auto;
  height: 70vh;
}

@media (max-width: 1000px) {
  .hero-archive-container {
    height: auto;
    margin-bottom: 100px;
  }

  .hero-archive {
    width: 90vw;
    flex-direction: column;
    align-items: center;
  }

  .h1-home-hero {
    padding: 0;
  }

  .img-home {
    width: 70%;
    height: auto;
  }
}

@media (max-width: 500px) {
  .img-home {
    width: 100%;
    height: auto;
  }
}

/* 4.2 Archive article grid */

.index-layout {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-layout {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}
 
.article-card {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-img {
  width: 100%;
  height: 14vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
}

.meta-data-article {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.meta-data-article p {
  font-size: 0.9rem;
}

.meta-data-article h2 {
  font-size: 1.3rem;
}

@media (max-width: 1100px) {
  .article-layout {
    grid-template-columns: repeat(2, 1fr);
  }

  .article-card {
    width: 100%;
  }
  
  .article-img {
    width: 100%;
    height: 22vw;
  }
}

@media (max-width: 800px) {
  .article-layout {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .article-card {
    width: 100%;
  }
  
  .article-img {
    width: 100%;
    height: 50vw;
  }
}

/* 5 Footer */

.footer-container {
  width: 80vw;
  height: 20vh;
  background-color: var(--noir-profond);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: var(--gris-clair);
  font-size: 0.8em;
  margin-top: 30vh;

}

.footer-container a {
  color: var(--gris-clair);
}

.footer-legal-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.footer-social-network-container a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0 2rem;
}

@media (max-width: 1024px) {
  .footer-container {
    width: 100vw;
    height: 20vh;
  }
}

@media (max-width: 500px) {
  .footer-container {
    height: 40vh;
    flex-direction: column;
    justify-content: space-around;
  }

  .footer-legal-container {
    align-items: center;
  }

  .footer-social-network-container a {
    flex-direction: column;
  }
}

/* Dark mode */

.dark-mode {
  --blanc-cassé: #151515;
  --noir-profond: #FCFCFC;
}

.dark-mode .toggle-dark-mode {
  background-color: var(--violet);
  border: 0px;
}

.dark-mode .h1-post {
  --blanc-cassé: #FCFCFC;
}

.dark-mode .icon-dark-mode-container {
  left: unset;
  right: -50%;
  top: -40%;
}

.dark-mode .kg-bookmark-card {
  color: var(--gris-clair);
}

.dark-mode, 
p, 
ul, 
li {
  color: var(--gris-clair);
}

.dark-mode 
.kg-bookmark-card,
.footer-container {
  background-color: var(--black-contrast-darkmode);
}

.dark-mode button {
  background-color: var(--gris-clair);
  color: var(--black-contrast-darkmode);
}